<div *ngIf="isCreate; then create; else edit"></div>
<ng-template #create>
  <div class="container">
    <div class="heading m-5">
      <h1>Create a new movie</h1>
    </div>
    <div class="d-flex flex-row w-75 justify-content-around">
      <div class="movie-img-container">
        <input type="file" class="movie-img" />
      </div>
      <div class="form-container">
        <input type="text" class="form-control" id="title" placeholder="Title" />
        <input type="text" class="form-control" id="publishedYear" placeholder="Published Year" />
        <div class="d-flex flex-row justify-content-around">
          <button type="button" class="btn btn-primary cancel">Cancel</button>
          <button type="button" class="btn btn-primary submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #edit>
  <div class="container">
    <div class="heading m-5">
      <h1>Edit movie</h1>
    </div>
    <div class="d-flex flex-row w-75 justify-content-around">
      <div class="movie-img-container">
        <input type="file" class="movie-img" />
      </div>
      <div class="form-container">
        <input type="text" class="form-control" id="title" placeholder="Title" />
        <input type="text" class="form-control" id="publishedYear" placeholder="Published Year" />
        <div class="d-flex flex-row justify-content-around">
          <button type="button" class="btn btn-primary cancel">Cancel</button>
          <button type="button" class="btn btn-primary submit">Update</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>