* {
    color: #fff;
}

.movie-img-container {
    position: relative;
}

.movie-img {
    display: none
}

.form-container {
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.movie-img-container {
  order: 1;
  margin-right: 20px;
}
.button-container {
  order: 3;
  margin-left: -200px;
  margin-top: 150px;
  > * {
    margin-right: 20px;
  }
}
.input-container {
  order: 2;
  height: fit-content;
}

.file-input-label {
  height: 400px;
  width: 400px;
  border: 1px dotted #ffffff;
  border-radius: 10px;
}

.file-input-label::after {
    content: "Drop an Image here";
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input[type="text"] {
    margin-bottom: 20px;
    background-color: #224957;
    border-style: none;
    color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

.submit {
  background-color: #2BD17E;
  border-style: none;
}

.cancel {
  background-color: #093545;
  border-style: 1px solid #ffffff;
}


@media screen and (max-width: 428px) {
  .form-container {
    display: inline;
  }
  .button-container {
    margin-left: 0px;
    margin-top: 0px;
    display:flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .form-container {
    display: inline;
  }
  .button-container {
    margin-left: 0px;
    margin-top: 0px;
    display:flex;
    justify-content: center;
  }
}