<div class="card p-5 horizontal-center">
  <!-- <div class=""> -->
    <h1 class="pb-4">Sign In</h1>

    <div class="mb-3">
      <input type="email" class="form-control" id="emailInput" placeholder="Email">
    </div>
    
    <div class="mb-3">
      <input type="password" class="form-control" id="passwordInput" placeholder="Password">
    </div>

    <div class="mb-3">
      <input type="checkbox" id="rememberMe" /> Remember Me
    </div>

    <div class="mb-3">
      <button type="button" class="btn btn-primary" id="login"> Login </button>
    </div>
  <!-- </div> -->

<div>
