.sign-in-container {
   min-width: 300px;
}

input[type="email"], input[type="password"] {
    background-color: #224957;
    border-style: none;
    color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

.btn-primary {
  background-color: #2BD17E;
  border-style: none;
}