.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 428px) {
    .container-fluid {
        margin: 0px;
    }
}