<div *ngIf="movies; then movieList else emptyList"></div>
<ng-template #movieList>
  <div class="movie-list-container">
    <div class="heading d-flex justify-content-between mb-5">
      <div class="d-flex">
        <h2>My Movies</h2>
        <a href='/addmovie' class="add-movie"><img src="../../../assets/images/addIcon.png" /></a>
      </div>
      <div class="logout">
        <img (click)="logout()"/>
      </div>
    </div>
    <div class="movie-card row row-no-gutters">
      <div *ngFor="let movie of movies | paginate: { itemsPerPage: 8, currentPage: p }" class="col-3 card-width">
        <div class="card" (click)="edit_movie(movie)">
          <img src="{{ movie.url }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text">{{movie.published_year}}</p>
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="p = $event" class="d-flex justify-content-center mt-5"></pagination-controls>
    </div>
  </div>
</ng-template>
<ng-template #emptyList>
  <div class="movie-empty-container">
    <h2 class="mb-5">Your movie list is empty</h2>
    <button type="submit" class="btn btn-primary" (click)="add_new_movie()">Add new movie</button>
  </div>
</ng-template>
