* {
  color: #ffffff;
}

.add-movie {
  background: none;
  border: none;
}
.movie-empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-primary {
  background-color: #2BD17E;
  border-style: none;
}

.card {
  background-color: #092C39;
  width: 70%;
  margin-right: 10px;
  margin-bottom: 20px;
}

.movie-card {
  display:flex;
  height: 200px;
}

.card-width {
  width: 25%;
}
.logout img {
  content: url('../../../assets/images/logoutIcon.png')
 }

@media screen and (max-width: 428px) {
   .card {
    width: 100%;
   }

   .card-width {
    width: 50%;
   }

   .logout img {
    content: url('../../../assets/images/logoutMobile.png')
   }
}
@media screen and (max-width: 768px) {
  .card {
   width: 100%;
  }

  .card-width {
   width: 50%;
  }

  .logout img {
   content: url('../../../assets/images/logoutMobile.png')
  }
}